<div>
    <h2>
        <span jhiTranslate="luckycoinApp.announcement.home.title">Announcements</span>
        <button class="btn btn-primary float-right jh-create-entity create-announcement-my-suffix" [routerLink]="['/', { outlets: { popup: ['announcement-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="luckycoinApp.announcement.home.createLabel">
            Create new Announcement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'luckycoinApp.announcement.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="announcements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="luckycoinApp.announcement.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="category"><span jhiTranslate="luckycoinApp.announcement.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="luckycoinApp.announcement.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo1"><span jhiTranslate="luckycoinApp.announcement.photo1">Photo 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo2"><span jhiTranslate="luckycoinApp.announcement.photo2">Photo 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo3"><span jhiTranslate="luckycoinApp.announcement.photo3">Photo 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo4"><span jhiTranslate="luckycoinApp.announcement.photo4">Photo 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addedDate"><span jhiTranslate="luckycoinApp.announcement.addedDate">Added Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finishDate"><span jhiTranslate="luckycoinApp.announcement.finishDate">Finish Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="luckycoinApp.announcement.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="location"><span jhiTranslate="luckycoinApp.announcement.location">Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="luckycoinApp.announcement.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="minimPrice"><span jhiTranslate="luckycoinApp.announcement.minimPrice">Minim Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ticketValue"><span jhiTranslate="luckycoinApp.announcement.ticketValue">Ticket Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="luckycoinApp.announcement.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ticketsNumber"><span jhiTranslate="luckycoinApp.announcement.ticketsNumber">Tickets Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ticketsSold"><span jhiTranslate="luckycoinApp.announcement.ticketsSold">Tickets Sold</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="owner.login"><span jhiTranslate="luckycoinApp.announcement.owner">Owner</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="winner.login"><span jhiTranslate="luckycoinApp.announcement.winner">Winner</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let announcement of announcements ;trackBy: trackId">
                <td><a [routerLink]="['../announcement-my-suffix', announcement.id ]">{{announcement.id}}</a></td>
                <td>{{announcement.name}}</td>
                <td jhiTranslate="{{'luckycoinApp.AnnouncementCategory.' + announcement.category}}">{{announcement.category}}</td>
                <td>{{announcement.description}}</td>
                <td>
                    <a *ngIf="announcement.photo1" (click)="openFile(announcement.photo1ContentType, announcement.photo1)">
                        <img [src]="'data:' + announcement.photo1ContentType + ';base64,' + announcement.photo1" style="max-height: 30px;" alt="announcement image"/>
                    </a>
                    <span *ngIf="announcement.photo1">{{announcement.photo1ContentType}}, {{byteSize(announcement.photo1)}}</span>
                </td>
                <td>
                    <a *ngIf="announcement.photo2" (click)="openFile(announcement.photo2ContentType, announcement.photo2)">
                        <img [src]="'data:' + announcement.photo2ContentType + ';base64,' + announcement.photo2" style="max-height: 30px;" alt="announcement image"/>
                    </a>
                    <span *ngIf="announcement.photo2">{{announcement.photo2ContentType}}, {{byteSize(announcement.photo2)}}</span>
                </td>
                <td>
                    <a *ngIf="announcement.photo3" (click)="openFile(announcement.photo3ContentType, announcement.photo3)">
                        <img [src]="'data:' + announcement.photo3ContentType + ';base64,' + announcement.photo3" style="max-height: 30px;" alt="announcement image"/>
                    </a>
                    <span *ngIf="announcement.photo3">{{announcement.photo3ContentType}}, {{byteSize(announcement.photo3)}}</span>
                </td>
                <td>
                    <a *ngIf="announcement.photo4" (click)="openFile(announcement.photo4ContentType, announcement.photo4)">
                        <img [src]="'data:' + announcement.photo4ContentType + ';base64,' + announcement.photo4" style="max-height: 30px;" alt="announcement image"/>
                    </a>
                    <span *ngIf="announcement.photo4">{{announcement.photo4ContentType}}, {{byteSize(announcement.photo4)}}</span>
                </td>
                <td>{{announcement.addedDate | date:'mediumDate'}}</td>
                <td>{{announcement.finishDate | date:'mediumDate'}}</td>
                <td>{{announcement.phoneNumber}}</td>
                <td jhiTranslate="{{'luckycoinApp.Location.' + announcement.location}}">{{announcement.location}}</td>
                <td>{{announcement.price}}</td>
                <td>{{announcement.minimPrice}}</td>
                <td>{{announcement.ticketValue}}</td>
                <td jhiTranslate="{{'luckycoinApp.Status.' + announcement.status}}">{{announcement.status}}</td>
                <td>{{announcement.ticketsNumber}}</td>
                <td>{{announcement.ticketsSold}}</td>
                <td>
                    {{announcement.owner?.login}}
                </td>
                <td>
                    {{announcement.winner?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../announcement-my-suffix', announcement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'announcement-my-suffix/'+ announcement.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'announcement-my-suffix/'+ announcement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="announcements && announcements.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
